---
import Layout from "../../layouts/Layout.astro";
import { FlashcardListProvider } from "../../components/flashcards/FlashcardListProvider";

export const prerender = false;
---

<Layout title="Lista fiszek - Flashcards">
  <div data-testid="flashcards-page">
    <FlashcardListProvider client:load />
  </div>
</Layout>
